---
permalink: /
author_profile: true
---


<h1>Olá!!!</h1>

I am a Postdoctoral Research Associate in the Department of Psychosis Studies at King's College London. I am also an Assistant Professor in the Centre of Computing, Cognition, and Mathematics at the Universidade Federal do ABC. I study the application of machine learning in neuroimaging, neuropsychiatry, and neurosciences.

{% assign featured_posts = site.publications | where: "featured", true %}
{% if featured_posts.size > 0 %}
  <h3 class="archive__subtitle">Featured publications</h3>
  {% for post in featured_posts reversed %}
    {% include archive-single.html type=page.entries_layout %}
  {% endfor %}
{% endif %}
